.rounded {
  border-radius: 1rem !important;
}

.shadow {
  /* box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.075) !important; */
  background-color: white;
}

fieldset {
  border: 0.2rem;
  border-color: lightgray;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.5rem;
}

legend {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.5rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

a {
  color: inherit;
}

.section-header {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1;
}

.progress {
  height: 0.5rem;
}

.progress-bar {
  border-radius: 50rem;
}

.section-header+table {
  margin-top: 0.5rem;
}

fieldset>table,
fieldset>.niveau {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

@media print {
  .bg-light {
    background-color: #fff !important;
  }
  .col-print-1 {
    width: 8%;
    max-width: 8%;
    float: left;
  }
  .col-print-2 {
    width: 16%;
    max-width: 16%;
    float: left;
  }
  .col-print-3 {
    width: 25%;
    max-width: 25%;
    float: left;
  }
  .col-print-4 {
    width: 33%;
    max-width: 33%;
    float: left;
  }
  .col-print-5 {
    width: 42%;
    max-width: 42%;
    float: left;
  }
  .col-print-6 {
    width: 50%;
    max-width: 50%;
    float: left;
  }
  .col-print-7 {
    width: 58%;
    max-width: 58%;
    float: left;
  }
  .col-print-8 {
    width: 66%;
    max-width: 66%;
    float: left;
  }
  .col-print-9 {
    width: 75%;
    max-width: 75%;
    float: left;
  }
  .col-print-10 {
    width: 83%;
    max-width: 83%;
    float: left;
  }
  .col-print-11 {
    width: 92%;
    max-width: 92%;
    float: left;
  }
  .col-print-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100% !important;
    max-width: 100%;
    float: left;
  }
  .col-print-auto {
    width: auto;
    float: left;
  }
  .col-print {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

@media screen {
  body {
    background-image: linear-gradient(to right top, #126fff, #8961ee, #bb53d6, #dc46bb, #f0419e, #f9498b, #fe557a, #ff636b, #ff7563, #ff875d, #ff995b, #ffaa5c);
  }
}
