.rounded {
    border-radius: 1rem !important;
}

.shadow {
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.075) !important;
    background-color: white;
}

fieldset {
    border: 0.2rem;
    border-color: lightgray;
    border-style: solid;
    border-radius: 1rem;
}

legend {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

a {
    color: inherit;
}

.section-header {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
}
